body {
  font-family: Nunito Sans,sans-serif;
  background: #ecf7fd;
}

.wrapper {
  background: #ecf7fd;
}

.p-4 {
  padding: 4rem;
}

/* .p-5 {
  padding: 5rem;
} */

.content {
  background: #ffffff;
  display: flex;
  border-radius: 15px;
}

.img-size {
  width: 200px;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.desc {
  margin: 3rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  color: #767676;
}

.input-form {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 20px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  margin-top: 1rem;
}

.contact-us {
  color: #02a8f3;
  text-decoration: none;
}

.section-left {
  width: 40%;
  padding: 4rem;
}

.section-right {
  background: #2baff4;
  width: 60%;
  border-radius: 0 10px 10px 0;
  padding: 4rem;
  color: #c8e7fd;
}

.title {
  margin: 1rem 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

ul {
  padding: 0 0 0 1rem;
}

li {
  margin-bottom: 1rem;
  font-size: smaller;
}

.bg {
  background-image: url("assets/bg.png"),linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
  background-repeat: no-repeat;
  background-position: 100%;
}

.btn-back {
  padding: 1rem 0;
  font-size: 16px;
  color: #36befc;
  font-weight: 600;
  cursor: pointer;
  width: 20%;
}

.app-header {
  background: #787878;
  padding: 0.5rem;
  font-size: 14px;
  color: #ffffff;
  text-align: right;
  margin: -10px;
}

.dropdown-menu {
  position: absolute;
  right: 10;
  width: 150px;
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(53,64,90,.2);
}

.is-show {
  display: flex;
}

.dropdown-item {
  padding: 10px 25px;
  color: #212121;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
}

.language {
  cursor: pointer;
}

.mr-1 {
  margin-right: 1rem;
}

.error {
  font-size: 12px;
  color: #e57373;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
}

.card-content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.desc-register {
  text-align: center;
  font-size: 14px;
  margin: 1rem 0;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7c7c7c;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: small;
} */